@media (max-width: 1415px) {
    .container{
        text-align: center;
        flex-direction: column;
        background-color: brown;
    }
}

@media (max-width: 620px){
    .container{
        background-image: url(/images/bg-intro-mobile.png);
    }
   
.container .main {
    color: white;
    /* padding-left: 60px; */
    font-size: 18pt;
    width: 510px;
    background-color: blue;
}
    .container .main p{
        margin: 15px;
        line-height: 2rem;
    }
}
@media (max-width: 556px){
.container{
    padding: 0;
}



.container .main {
    margin-top: 70px;
    margin-inline: auto;
    color: white;
    /* padding-left: 60px; */
    width: 327px;
}

.container .main h1{
    line-height: 2rem;
    font-size: 1.6rem;
    margin: 0;
}
.container .main p{
    line-height: 1.5rem;
    font-size: .9rem;
}

.container .aside {
    width: 300px;
    box-shadow: 1px ;
    width: 327px;
    margin-top: 30px;
    margin-inline:auto;
    box-shadow: 0 33px 1px rgba(0, 0, 0, 0.127);
    margin-bottom: 7rem;
}


.container .aside .try {
    display: flex;
    width: 327px;
    height: 88px;
    margin: auto;
    justify-content: center;
    flex-direction: column;

}

.container .aside .try .text .textinner{
    color:hsl(246, 25%, 77%);
}

}