.container{
    background-image: url('./images/bg-intro-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    min-width: 100%;
    background-color: hsl(0, 100%, 74%) ;
}

.container .main {
    color: white;
    font-size: 18pt;
    width: 610px;
}
.container .main h1 {
    margin-bottom: 2rem;
    line-height: 3.2rem;
}

.container .main p {
    color: hsl(240, 3%, 94%) ;
    font-size: 17.2px;
}

.container .aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    height: 580px;
    width: 540px;
    gap: 20px;
}

.container .aside .try{
    display: flex;
    color: hsl(246, 25%, 77%);
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.127);
    font-size: 15px;
    padding: 1.5rem;
    border-radius: .5rem;
}

.container .aside .try .text{
    margin-left: 90px;
    margin-right: 5px;
    gap: 10px;
    font-weight: 500;
    color: #fff;
}

.container .aside .form {
    padding: 45px 45px;
    display: flex;
    padding: 40px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.127);
    flex-direction: column;
    background-color:white;
    gap: 10px;
    flex-grow: 1;
    border-radius: .5rem;

}
.container .aside .form .inputs{
    border-radius: .3rem;
    padding: 1.2rem;
    font-weight: 700;
    border: 1px solid hsl(246, 34%, 89%);
}

.advert{
    top: -5px;
    position: relative;
    text-align: right;
    font-size: .7rem;
    color:  hsl(0, 100%, 74%);
}

.container .aside .form .inputs.btn{
    cursor: pointer;
    border-bottom: 4px solid hsl(154, 59%, 43%);
    color: rgb(235, 230, 230);
    word-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: hsl(154, 59%, 51%);
}

.container .aside .form p{
    font-size: .5rem;
    color: hsl(246, 25%, 77%);
}
.container .aside .form .terms{
    color:  hsl(0, 100%, 74%);
    font-weight: 700;
}
