.container{
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    min-width: 100%;
    background-color: brown;
}

.container 
.main ,
.form{
}

.container .main {
    padding-left: 60px;
    font-size: 18pt;
    width: 620px;
    background-color: bisque;
}
.container .main h1 {
    margin-bottom: 2rem;
    line-height: 3.7rem;
}

.container .main p {
    font-size: 12.5pt;
}

.container .aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:tomato;
    height: 580px;
    width: 540px;
    gap: 20px;
}

.container .aside .try{
    background-color: aqua;
    font-size: 12px;
    padding: 1.5rem;
}

.container .aside .form {
    padding: 45px 45px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color:crimson;
    gap: 20px;
    flex-grow: 1;

}
.container .aside .form .inputs{
    padding: 1.2rem;
}

.container .aside .form .inputs.btn{
    font-size: 1.2rem;
    background-color: aqua;
}

.container .aside .form p{
    font-size: .8rem;
    color: white;
}